openapi: 3.1.0
info:
  title: MCPFinder API
  version: v1 # Using API version v1 as specified in paths
  description: API for registering and discovering MCP (Model Context Protocol) tools.
  contact:
    url: https://github.com/mcpfinder/mcpfinder
servers:
  - url: https://mcpfinder.dev/api/v1
    description: Production Server
tags:
  - name: Tools
    description: Operations related to MCP tools
paths:
  /register:
    post:
      tags:
        - Tools
      summary: Register Tool
      description: |
        Registers a new MCP tool.
        Requires HMAC authentication based on the raw request body and a shared secret (`MCP_REGISTRY_SECRET`).
        Validates the provided manifest against the schema, pings the tool URL,
        stores the manifest, updates tags, and returns the new tool ID and status.
      operationId: registerTool
      requestBody:
        description: MCP tool manifest object.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpManifestInput' # Use a specific schema for input if needed
      security:
        - hmacAuth: []
      responses:
        '200':
          description: Tool registered successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  id:
                    type: string
                    format: uuid
                    description: The unique ID assigned to the registered tool.
                    example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  status:
                    type: string
                    description: Initial status after successful ping.
                    example: online
                required: [success, id, status]
        '400':
          description: Bad Request - Invalid JSON, schema validation failed, or tool URL ping failed.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - Missing or invalid HMAC signature.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error - Storage or other server-side issue.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tools/{id}:
    get:
      tags:
        - Tools
      summary: Get Tool Details
      description: Retrieves the full manifest JSON for a specific tool by its unique ID. Includes current status and last checked timestamp.
      operationId: getToolById
      parameters:
        - name: id
          in: path
          required: true
          description: The unique identifier of the tool.
          schema:
            type: string
            format: uuid # Assuming UUIDs are used for IDs
      responses:
        '200':
          description: Tool details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpManifestResponse'
        '404':
          description: Not Found - Tool with the specified ID does not exist.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /search:
    get:
      tags:
        - Tools
      summary: Search Tools
      description: Searches for tools based on tags or a keyword query. Returns a list of tool summaries. Provide `tag` or `q`, not both.
      operationId: searchTools
      parameters:
        - name: tag
          in: query
          required: false
          description: Filter tools by a specific tag. Cannot be used with 'q'.
          schema:
            type: string
        - name: q
          in: query
          required: false
          description: Search keyword for tool name or description. Cannot be used with 'tag'.
          schema:
            type: string
      responses:
        '200':
          description: Search results retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ToolSummary'
        '400':
          description: Bad Request - Invalid query parameters (e.g., both 'tag' and 'q' provided, or neither).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    McpManifestBase: # Base schema for common fields
      type: object
      properties:
        name:
          type: string
          description: The name of the tool.
          example: ExampleTool
        description:
          type: string
          description: A short description of the tool.
          example: An example MCP tool.
        url:
          type: string
          format: url
          description: The URL endpoint for the MCP tool.
          example: https://example-tool.com/mcp
        protocol_version:
          type: string
          description: The MCP protocol version supported.
          example: MCP/1.0
        capabilities:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: doSomething
              type:
                type: string
                # Use enum based on observed values or schema definition
                enum: [action, tool] # Assuming both 'action' and 'tool' are valid
                example: action
            required: [name, type]
          minItems: 1
          example: [{ "name": "doSomething", "type": "action" }]
        tags:
          type: array
          items:
            type: string
          example: ["example", "demo"]
        auth:
          type: object
          properties:
            type:
              type: string
              enum: [none, api-key, oauth, hmac] # Added common types
              example: none
            instructions:
              type: string
              description: Optional instructions for obtaining authentication credentials.
              example: "Get key at ..."
          required: [type]
      required:
        - name
        - description
        - url
        - protocol_version
        - capabilities
        # tags and auth seem optional in some contexts, required in schema? Check schema.
        # For now, making them optional at base level unless specified otherwise.

    McpManifestInput: # Schema for the POST /register request body
      allOf:
        - $ref: '#/components/schemas/McpManifestBase'
      # Add specific requirements for input if any, e.g., tags might be required on input
      # required: [tags, auth] # If they are strictly required by the schema for registration

    McpManifestResponse: # Schema for the GET /tools/{id} response body
      allOf:
        - $ref: '#/components/schemas/McpManifestBase'
        - type: object
          properties:
            id:
              type: string
              format: uuid
              description: The unique ID of the tool.
              example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
            status:
              type: string
              description: Current health status of the tool.
              enum: [online, offline, unknown] # Define possible statuses
              example: online
            lastChecked:
              type: string
              format: date-time
              description: ISO 8601 timestamp of the last health check.
              example: 2025-01-15T10:30:00Z
          required: [id, status, lastChecked]

    ToolSummary: # Schema for items in the GET /search response array
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        name:
          type: string
          example: ExampleTool
        description:
          type: string
          example: An example MCP tool.
        url:
          type: string
          format: url
          example: https://example-tool.com/mcp
        status:
          type: string
          enum: [online, offline, unknown]
          example: online
        tags:
          type: array
          items:
            type: string
          example: ["example", "demo"]
      required: [id, name, description, url, status, tags]

    ErrorResponse: # RFC 7807 Problem Details
      type: object
      properties:
        type:
          type: string
          format: uri
          description: A URI reference that identifies the problem type. Defaults to "about:blank" if not specified.
          example: "https://mcpfinder.dev/errors/validation-error"
        title:
          type: string
          description: A short, human-readable summary of the problem type.
          example: "Invalid Request Body"
        status:
          type: integer
          format: int32
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          example: 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
          example: "Schema validation failed: property 'name' is missing."
        instance:
          type: string
          format: uri-reference
          description: A URI reference that identifies the specific resource associated with the problem (e.g., the endpoint requested).
          example: "/api/v1/register"
      required: [title, status] # 'type' is recommended but not strictly required by RFC 7807 if not adding semantic value

  securitySchemes:
    hmacAuth:
      type: apiKey
      in: header
      name: Authorization # The header name is Authorization
      description: |
        HMAC-SHA256 signature required for the `/register` endpoint.
        The signature is computed over the raw request body using the shared `MCP_REGISTRY_SECRET`.
        The value must be formatted as `HMAC <signature>`. 